/* MOBILE FIRST */

:root {
  --ff-body: "Montserrat", sans-serif;
  --ff-heading: "Oswald", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-nav-link: 1.125rem;
  --fs-page-title: 3.125rem;
  --fs-hero-body: 1.25rem;
  --fs-section-one-heading: 1.875rem;
  --fs-section-one-text: 1.125rem;
  --fs-article-title: 2.25rem;
  --fs-section-two-text: 1.3125rem;
  --fs-section-two-aside-heading: 1.875rem;
  --fs-section-two-aside-text: 1.125rem;
  --fs-footer-title: 1.5rem;
  --fs-footer-heading: 1.3125rem;
  --fs-footer-link: 1rem;

  --clr-bg-navbar: #2e323f;
  --clr-bg: #3b4050;
  --clr-bg-section-one: #f1f1f1;
  --clr-body: #3b4050;
  --clr-heading: #a59678;
  --clr-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-body);
  color: var(--clr-body);
}

img {
  display: block;
  max-width: 100%;
}

/* ================
    TYPOGRAPHY
================ */

/* ================
    LAYOUT
================ */

/* ================
    MEDIA QUERIES
================ */
